/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

#brand {
	margin-top: -20px;
	margin-bottpm: 30px;
	positon: relative;
	bottom: 20px;
	position: relative;
	left: 4px;
	top: 8px;
}

.jumbotron {
	padding: 0px 0px 0px;
}



#banner {
	margin-bottom: 20px;
}

.logo {
	
	width: 54px;
	float: left;
	position:relative;
	top: -35px;
}

p {
	font-family: 'Open Sans', sans-serif;
}